<% provide(:title, t("about")) %>
<h1><%= t("about") %></h1>
<p>
  <%= link_to  t("about_param_content_1"), "https://www.railstutorial.org/"%>
  <%= t("about_param_content_2_begin")%>
  <%= link_to t("about_param_content_2_link"), "https://www.learnenough.com/"%>
  <%= t("about_param_content_2_end") %>
  <%= t("about_param_content_3_begin") %>
  <%= link_to t("about_param_content_3_link_1"), "https://www.railstutorial.org/book"%>
  <%= t("about_param_content_3_and") %>
  <%= link_to t("about_param_content_3_link_2"), "https://screencasts.railstutorial.org/"%>
  <%= t("about_param_content_3_end") %>
  <%= link_to t("about_param_content_3_link_3"), "https://rubyonrails.org/"%>
  <%= t("about_param_content_4") %>
</p>
