<% provide :title, t("help") %>
<h1><%= t "help" %></h1>
<p>
  <%= t "help_param_content_1" %>
  <%= link_to t("help_param_content_2_help"), "https://www.railstutorial.org/help" %>
  <%= t "help_param_content_2_begin" %>
  <%= link_to t("tutorial"), "https://www.railstutorial.org/book" %>
  <%= t "help_param_content_2_end" %>
</p>
