<footer class="footer">
  <div class="container">
    <small>
      <%= t "footer_param_content_1" %>
      <%= link_to t("tutorial"), "https://www.railstutorial.org/" %>
      <%= t "footer_param_content_2" %>
      <%= link_to t("author"), "https://www.michaelhartl.com/" %>
    </small>
    <nav>
      <ul>
        <li><%= link_to t("about"), about_path %></li>
        <li><%= link_to t("contact"), contact_path %></li>
        <li><%= link_to t("news"), "https://news.railstutorial.org/" %></li>
      </ul>
    </nav>
  </div>
</footer>
